body {
    background: url('/static/App/milkyway.jpg');
}

.card {
    position: absolute;
    left: 480px;
    top: 100px;
    perspective: 600px;
    width: 400px;
    height: 520px;
    transition: 1s;
    transform-style: preserve-3d;
    transform-origin: center right;
    border-radius: 10px;
    background: #f8f8f8;
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    opacity: 0.8;
}

.card__face h1 {
    font-family: 'PT Sans', sans-serif;
    font-size: 40px;
    color: black;
    text-align: center;
    margin-top: 20px;
    font-weight: normal;
    border-bottom: solid 1px #999;
    padding-bottom: 20px;
    width: 80%;
    margin-left: 10%;
}

form {
    font-family: 'Comfortaa';
}

input {
    font-family: 'Comfortaa';
    font-size: 18px;
    height: 45px;
    width: 80%;
    margin: 20px 10% 0px 10%;
    border-radius: 2px;
    border: solid 1px gray;
    padding: 10px;
    box-sizing: border-box;
}

#forgot {
    font-size: 15px;
    margin-left: 55%;
}

a#forgot {
    display: inline-block;
    margin-top: 10px;
}

input[type='submit'] {
    margin-top: 80px;
    background: lightskyblue;
    border: none;
    border-radius: 50px;
    font-size: 23px;
    height: 48px;
    cursor: pointer;
}

#signup {
    display: inline-block;
    margin-top: 20px;
    margin-left: 42%;
    font-size: 18px;
}

.card__face--back {
    transform: rotateY(180deg);
}

#login {
    display: inline-block;
    margin-top: 20px;
    margin-left: 42%;
    font-size: 18px;
}

.card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
    height: 570px;
    top: 75px;
}

/* .card {
    position: absolute;
    left: 480px;
    width: 400px;
    height: 570px;
    top: 75px;
    border-radius: 10px;
    background: #f8f8f8;
}

.card h1 {
    font-family: 'PT Sans', sans-serif;
    font-size: 40px;
    color: black;
    text-align: center;
    margin-top: 20px;
    font-weight: normal;
    border-bottom: solid 1px #999;
    padding-bottom: 20px;
    width: 80%;
    margin-left: 10%;
} */
